.main-div-field{
    display: flex;
    align-items: center;
    gap: 1vw;
}

.field-label{
    font-family: inherit;
}

.field-input{
    border: 2px solid #159A9C;
    border-radius: 3%;
    height: 3vh;
    font-size: medium;
    font-family: 
    'Lucida Sans', 
    'Lucida Sans Regular', 
    'Lucida Grande', 
    'Lucida Sans Unicode', 
     Geneva, 
     Verdana, 
     sans-serif;
}

.button-text{
    font-size: medium;
    font-family: 
    'Lucida Sans', 
    'Lucida Sans Regular', 
    'Lucida Grande', 
    'Lucida Sans Unicode', 
     Geneva, 
     Verdana, 
     sans-serif;
}

.btn{
  
}