@import "../../components/AttributeList/AttributeSetList.module.scss";

.main{

    &__attrSetBox{
        display: flex;
        flex-direction: column;
        width: 98%;
        font-family: "Raleway";
        gap: 0.6vh;
        padding-left: 5px;
        margin: 0.5vh 0vw 0.5vh 0vw;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 600;
        font-size: 20px;
        line-height: 20px;
        line-height: 85%;
        margin: 1vh 0 1vh 0;
        

        &__attrID{
            width: 8vw;
        }

        &__attrSet{
            display: flex;
            margin: 1vh 0 1vh 0;
        }
    }
}