.main{
    display: flex;
    flex-direction: column;

    &__attrSetBox{
        display: flex;
        flex-direction: column;

        &__attrID{
            font-family: "Raleway", sans-serif;
            font-weight: 700;
        }

        &__attrSet{
            display: flex;
            margin: 0.8vh 0 0.8vh 0;
        }
    }
}