@import "../../global/palette.scss";

.main {

  &__currencyBtn {
    border: none;
    font-weight: 500;
    font-size: 1.1em;
    margin-top: 0.25vw;
    height: 2.5vw;
    cursor: pointer;
    background-color: transparent;
  }
}

.conditional {
  position: absolute;
  top: 3.5vw;
  right: 1vw;
  width: 5vw;
  max-height: 20vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
  overflow-x: hidden;

  &__btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    height: 1.6vw;
    &:hover {
      background-color: #EEEEEE;;
    }

    &__txt {
      font-family: 'Raleway', sans-serif;
      letter-spacing: 0.5px;
      font-size: 1.1em;
      font-weight: 600;

    }
  }
}