@use "./mainTheme.module.scss" as main;

.main {
  @include main.mainTheme;
  display: flex;
  justify-content: center;

  &__inputGroup {
    @include main.glassyDiv;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0px 20px 0px;
  }

}