@use "./mainTheme.module.scss" as main;

.main {
  @include main.mainTheme;
  display: flex;
  flex-direction: column;
  height: auto;
  padding-left: 3px;
  padding-right: 3px;

}

.headerButton {
  position: absolute;
  min-width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  left: 10px;

}